<!DOCTYPE html>

<html data-ng-app="fifteenGame">
<head>
    <title>Wellcome Page</title>
    
    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="Content/fifteen.css" rel="stylesheet" type="text/css" />
    
    <script src="/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/ui-bootstrap-custom-0.5.0.js"></script>
    <script type="text/javascript" src="Scripts/ui-bootstrap-custom-tpls-0.5.0.js"></script>
    
    <script src="/Modules/fifteen-module.js" type="text/javascript"></script> 
    
</head>
<body>
    <div data-ng-controller="uiController">
        <div class="row-fluid">
            <div class="span3 wellcome-area">
                <h4 data-ng-show="nick.length > 0">Wellcome, {{nick}}!</h4>
            </div> 
            <tabset class="tabset">
                <tab heading="Name" class="tab-item">
                    <span class="labelName">Type your name:</span>
                    <input id="nickName" type="text" data-ng-model="nick" class="input-xlarge"/>
                </tab> 
                <tab heading="Terms" class="tab-item">
                    <ul> 
                        <li><span>You need to arrange the numbers on board by simple mathematical order.</span></li>
                        <li><span>Slots can only move vertically or horizontally nearest the empty slot.</span></li>
                        <li><span>Game over when board organized from 1 to 15</span></li>
                        <li><span>No more ;-)</span></li>
                    </ul>
                </tab>
                <tab heading="Play" class="tab-item">
                    <div id="wrapper">
                        <div data-ng-controller="fifteenGameController">
                            <input class="reload" type="button" data-ng-click="reorderBoard()"/>
                            <div  id="board" class="board">
                                <div class="div-table-row" data-ng-repeat="row in board">
                                    <gamecell data-ng-repeat="cell in row" ng-model="cell.cellnumber" value="cell.cellnumber"></gamecell>
                                </div>
                            </div>
                            <div class="steps">{{stepsCounter}}</div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <!-- End  .box --> 
    </div>
</body>
</html>
