<div id="login">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form class="box center-block">
            	<div class="box-header">
            		<h2>Login</h2>
            	</div>
            	<div class="box-body">
					<fieldset class="form-group">
    					<label for="email">Email address</label>
    					<input type="email" class="form-control" id="email" placeholder="Enter email">
 					</fieldset>
 					<fieldset class="form-group">
    					<label for="password">Password</label>
    					<input type="password" class="form-control" id="password" placeholder="Password">
 					</fieldset>
                    <div class="form-group row">
                        <div class="col-sm-12 text-right">
     					    <button type="submit" class="btn btn-outline-primary" ui-sref="fifteen.home">Login</button>
                        </div>
                    </div>
 				</div>
 			</form>
            <div class="text-center">
                <button class="btn btn-link" ui-sref="fifteen.register">Register</button>
            </div>
        </div>
    </div>
</div>